version: "3.1"
services:
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    env_file: stack.env
    environment:
      - AUTO_UPDATE=true #optional
    volumes:
      - jackett_config:/config
    #ports:
    #- 9117:9117
    restart: unless-stopped
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    env_file:
      - stack.env
    environment:
      - WEBUI_PORT=8080
    volumes:
      - qbittorrent_config:/config
      - qbittorrent_data:/data/torrents/
    #ports:
    #- 8080:8080
    #- 6881:6881
    #- 6881:6881/udp
    restart: unless-stopped
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    env_file:
      - stack.env
    volumes:
      - sonarr_config:/config
      - sonarr_data:/data
    #ports:
    #- 8989:8989
    restart: unless-stopped
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    env_file:
      - stack.env
    volumes:
      - radarr_config:/config
      - radarr_data:/data #optional
    #ports:
    #- 7878:7878
    restart: unless-stopped
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    env_file:
      - stack.env
    volumes:
      - jellyfin_config:/config
      - jellyfin_data:/data
    ports:
      - 8096:8096
    #- 8920:8920 #optional
    #- 7359:7359/udp #optional
    #- 1900:1900/udp #optional
    restart: unless-stopped
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    env_file:
      - stack.env
    #ports:
    #- 5055:5055
    volumes:
      - jellyseerr_config:/app/config
    #- /pool_raid0/docker/config/jellyseerr:/app/config
    restart: unless-stopped
  unpackerr:
    image: golift/unpackerr
    container_name: unpackerr
    volumes:
      - unpackerr_config:/config
      - unpackerr_data:/data
      - unpackerr_downloads:/data/torrents
    restart: always
    # Get the user:group correct so unpackerr can read and write to your files.
    user: ${PUID}:${PGID}
    env_file:
      - stack.env
    environment:
      - TZ=${TZ}
      ## Global Settings
      - UN_DEBUG=false
      - UN_QUIET=false
      - UN_ERROR_STDERR=false
      - UN_ACTIVITY=false
      - UN_LOG_QUEUES=1m
      - UN_LOG_FILE=config/unpackerr.log
      - UN_LOG_FILES=10
      - UN_LOG_FILE_MB=10
      - UN_LOG_FILE_MODE=0600
      - UN_INTERVAL=2m
      - UN_START_DELAY=1m
      - UN_RETRY_DELAY=5m
      - UN_MAX_RETRIES=3
      - UN_PARALLEL=1
      - UN_FILE_MODE=0644
      - UN_DIR_MODE=0755
      ## Web Server
      # - UN_WEBSERVER_METRICS=false
      # - UN_WEBSERVER_LISTEN_ADDR=0.0.0.0:5656
      # - UN_WEBSERVER_LOG_FILE=
      # - UN_WEBSERVER_LOG_FILES=10
      # - UN_WEBSERVER_LOG_FILE_MB=10
      # - UN_WEBSERVER_SSL_CERT_FILE=
      # - UN_WEBSERVER_SSL_KEY_FILE=
      # - UN_WEBSERVER_URLBASE=/
      # - UN_WEBSERVER_UPSTREAMS=
      ## Folder Settings
      - UN_FOLDERS_INTERVAL=1s
      - UN_FOLDERS_BUFFER=20000
      ## Sonarr Settings
      - UN_SONARR_0_URL=https://sonarr.random-plebs.com
      - UN_SONARR_0_PATHS_0=/data
      - UN_SONARR_0_PROTOCOLS=torrent
      - UN_SONARR_0_TIMEOUT=10s
      - UN_SONARR_0_DELETE_DELAY=5m
      - UN_SONARR_0_DELETE_ORIG=false
      - UN_SONARR_0_SYNCTHING=false
      ## Radarr Settings
      - UN_RADARR_0_URL=https://radarr.random-plebs.com
      - UN_RADARR_0_PATHS_0=/data
      - UN_RADARR_0_PROTOCOLS=torrent
      - UN_RADARR_0_TIMEOUT=10s
      - UN_RADARR_0_DELETE_DELAY=5m
      - UN_RADARR_0_DELETE_ORIG=false
      - UN_RADARR_0_SYNCTHING=false

volumes:
  jackett_config:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /pool_raid0/docker/config/jackett
  qbittorrent_config:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /pool_raid0/docker/config/qbittorrent
  qbittorrent_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /pool_raid0/docker/data/media-services/torrents
  sonarr_config:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /pool_raid0/docker/config/sonarr
  sonarr_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /pool_raid0/docker/data/media-services
  radarr_config:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /pool_raid0/docker/config/radarr
  radarr_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /pool_raid0/docker/data/media-services
  unpackerr_config:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /pool_raid0/docker/config/unpackerr
  unpackerr_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /pool_raid0/docker/data/media-services
  unpackerr_downloads:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /pool_raid0/docker/data/media-services/torrents
  jellyfin_data:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /pool_raid0/docker/data/media-services/media
  jellyfin_config:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /pool_raid0/docker/config/jellyfin
  jellyseerr_config:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: /pool_raid0/docker/config/jellyseerr
